header {
  a.navbar-brand {
    height: 24px;
    margin: 0px;
    margin-top: 3px;
    padding: 0px;
    padding-top: 3px;
    padding-left: 28px;
    background-repeat: no-repeat;
    background-image: url(/market_logo@1x.png);
    background-image: -webkit-image-set(url(/market_logo@1x.png) 1x, url(/market_logo@2x.png) 2x);
  }
}

[data-lang=zh-cn] {
  #ask_entry, #bid_entry {
    label.input-group-addon {
      min-width: 50px !important;
    }

    .hint-price-disadvantage, .hint-positions  {
      top: 2px;
      left: 53px;
      margin-left: 0px;
      position: absolute;
      z-index: 10;
    }
  }
}

#order_book, #ticker {
  background-color: rgba(32, 32, 32, 0.4);
}
