.global-footer {
  color: $footer-color-light;
  font-size: 14px;
  padding: 20px 0 10px;
  border-top: 1px solid lighten($footer-color-light, 20%);
  .powered-by {
    margin-top: 43px;
    img {
      margin-bottom: 10px;
      opacity: .4;
    }
    a {
      color: $footer-color-light;
      font-weight: bold;
      &:hover {
        color: darken($footer-color-light, 20%);
      }
    }
  }
  .footer-copyright, .footer-icp {
    font-size: 12px;
    color: $footer-color-light;
    .beian {
      color: $footer-color-light;
      text-decoration: none;
    }
  }
  p {
    font-size: 14px;
    margin-bottom: 8px;
  }
  .footer-nav {
    list-style: none;
    padding: 0;
    li {
      margin-bottom: 5px;
    }
  }
  .qq {
    .fa.fa-qq { position: relative; top: 11px; }
    .qq-number { text-indent: 20px; display: inline-block; }
  }
  .hotline {

    font-size: 1.1em;
    strong {
      color: $text-color;
      font-size: 1.3em;
    }
  }
}
