.global-footer {
  color: $footer-color-light;
  font-size: 14px;
  margin-top: 2em;
  padding: 40px 0 20px;
  border-top: 1px solid lighten($footer-color-light, 20%);
  .powered-by {
    margin-top: -20px;
    img {
      width: 120px;
      margin-bottom: 10px;
      opacity: 0.8;
    }
    a {
      &:first-of-type {
        margin-right: 32px;
      }
      color: $footer-color-light;
      font-weight: bold;
      &:hover {
        color: darken($footer-color-light, 20%);
      }
    }
  }
  .footer-copyright, .footer-icp {
    font-size: 12px;
    color: $footer-color-light;
    .beian {
      color: $footer-color-light;
      text-decoration: none;
    }
  }

  .footer-icp {
    margin-top: 30px
  }
  p {
    font-size: 14px;
    margin-bottom: 8px;
  }
  .footer-nav {
    list-style: none;
    padding: 0;
    li {
      margin-bottom: 5px;
    }
  }
  .qq {
    .qq-number { text-indent: 24px; display: inline-block; }
  }
  .hotline {
    margin-top: -5px;
    font-size: 1.1em;

    strong {
      color: $text-color;
      font-size: 1.3em;
    }
  }
}
