.history-pages {
  .nav-pills {
    margin-bottom: 30px;
  }
}
#history-transactions {
  #transactions {
    th {
      text-transform: capitalize;
    }

    th, a {
      cursor: pointer;
    }
  }
}

