$iconic-size: 60px;
$btc-head-bg: #f7931a;
$btc-border-color: lighten($btc-head-bg, 10%);
$ltc-head-bg: #777777;
$ltc-border-color: lighten($ltc-head-bg, 30%);
$btsx-head-bg: #4ea1d3;
$btsx-border-color: lighten($btsx-head-bg, 30%);
$timeline-icon-size: 40px;
$base-margin: 30px;
$timeline-margin: 100px;
$bubble-bg: #F2F8FB;

#welcome-index {

  .global-nav {
    margin: 0;
    background: none;
    @include transition(background, 0.3s);
    .navbar-brand {
      opacity: 0;
      @include transition(opacity, 0.5s);
    }
  }

  .account-balance {
    display: none;
  }

  .masthead {
    background-image: image-url('hero-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    min-width: 1150px;
  }

  .masthead {
    margin-top: -100px;
    padding: 120px 0 0;
    color: #fff;
    .hero-section {
      margin-bottom: 50px;
    }
    .slogan {
      margin: 10px 0 0 80px;
      .brand {
        opacity: .95;
        margin-bottom: 30px;
        @include transition(opacity, 0.5s);
      }
      h1 {
        color: rgba(245, 245, 245, .95);
        font-size: 30px;
        font-weight: bold;
      }
      p {
        color: rgba(245, 245, 245,.8);
        font-size: 17.7px;
      }
    }
    .users-form-container {
      padding: 30px;
      margin: 0;
      border-radius: 5px;
      background-color: #8bbbd4;
      background-color: rgba(255,255,255,.5);
      input[type=text], input[type=password] {
        background-color: rgba(255, 255, 255, 0.75);
        @include placeholder(#888);
      }

      label {
        display: none;
      }
      .form-group {
        margin-bottom: 20px;
        input {
          height: 40px;
        }
      }
      .inline-links {
        text-align: center;
        color: #318BD5;
        a {
          color: #318BD5;
          padding: 0 5px;
        }
      }
      .btn-success {
        background-color: #50A569;
        &:hover {
          background-color: darken(#50A569, 8%);
        }
      }
    }

    .highlights {
      color: #333;
      padding: 30px 0;
      background-color: #fff;
      background-color: rgba(255,255,255,.35);
    }

  }

  .market {
    margin-top: 2em;
    .currency-item {
      margin: 0 20px 20px;
      .head {
        margin: 0;
        padding: 5px 15px 5px 25px;
        font-size: 13px;
        font-weight: normal;
        color: #fff;
        color: rgba(255,255,255,.9);
        background-color: $btc-head-bg;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        @include transition(background-color 0.15s linear);
      }
      .currency-icon {
        position: absolute;
        left: -5px;
        top: -15px;
        z-index: 999;
        img {
          max-width: 100%;
        }
      }
      .currency-ticker {
        position: relative;
        padding: 15px;
        border: 1px solid #F7DEC1;
        border-top: 0;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        table {
          width: 100%;
          > tbody > tr > td {
            vertical-align: top;
          }
          .lbl {
            color: #aaa;
            font-size: 14px;
            td { padding: 3px 0; }
          }
          .value {
            font-size: 18px;
            line-height: 32px;
            font-weight: bold;
            td {
              vertical-align: bottom;
            }
            .int {
              font-size: 32px;
              font-weight: bold;
            }
            .float {
              font-weight: normal;
            }
            .day-volume .int {
              font-size: 24px;
            }
          }
          .trend {
            font-weight: normal;
            margin-left: 10px;
          }
          .arrow {
            vertical-align: middle;
            i {
              position: relative;
              font-size: 32px;
              color: #ccc;
              left: 0;
              @include transition(all 0.15s linear);
            }
          }
        }

      }
      &:hover {
        cursor: pointer;
        .head {
          background-color: darken($btc-head-bg, 5%);
        }
        .currency-ticker {
          border-color: darken($btc-border-color, 5%);
        }
        table .arrow i{
          color: #777;
          left: 2px;
        }
      }

      &.theme-ltc {
        .head {
          background-color: $ltc-head-bg;
        }
        .currency-ticker {
          border-color: $ltc-border-color;
        }
        &:hover {
          .head {
            background-color: darken($ltc-head-bg, 10%);
          }
          .currency-ticker {
            border-color: darken($ltc-border-color, 10%);
          }
        }
      }
      &.theme-btsx {
        .head {
          background-color: $btsx-head-bg;
        }
        .currency-icon {
          top: -22px;
          left: -1px;
        }
        .currency-ticker {
          border-color: $btsx-border-color;
        }
        &:hover {
          .head {
            background-color: darken($btsx-head-bg, 10%);
          }
          .currency-ticker {
            border-color: darken($btsx-border-color, 10%);
          }
        }
      }
    }
  }

  .announcement {
    text-align: center;
    background-color: $bubble-bg;
    p {
      font-size: 20px;
      padding: 40px 0;

    }
    span {
      padding: 0 20px;
    }
    .more-info {
      font-size: 16px;
    }
  }

  .testimonials {
    margin-top: 20px;
    margin-bottom: 40px;
    .left-col {
      padding-right: 15px;
    }
    .right-col {
      padding-left: 15px;
    }
    .speech-item {
      margin-bottom: 30px;
      .speech-bubble {
        background: $bubble-bg;
        border-radius: 3px;
        text-align: left;
        position: relative;
        padding: 25px 30px;
        margin: 0 0 20px 0;
        blockquote {
          font-size: 16px;
          line-height: 1.8;
          border: none;
          margin: 0 0 20px;
          padding: 0;
        }
        .arrow {
          content: "";
          position: absolute;
          display: block;
          left: 0;
          bottom: -1.285em;
          height: 0;
          width: 0;
          border: 0.857em solid rgba(0, 0, 0, 0);
          border-left-color: $bubble-bg;
          border-top-color: $bubble-bg;
        }
      }
      .author {
        @include clearfix;
        img {
          border-radius: 50%;
          max-height: 40px;
          float: left;
        }
        .author-info {
          font-size: 14px;
          float: left;
          margin-left: 10px;
          .from {
            padding-top: 10px;
          }
          .name {
            display: none;
            font-size: 14px;
            font-weight: bold;
            margin: 0 0 5px;
          }
        }
      }
    }
  }

  .main-section {
    padding: 15px 0;
    background: #fff;
  }

  #site-title {
    h1 {
      color: #3e4c5a;
      font-weight: 900;
      padding-top: 30px;
      font-size: 40px;
    }
  }

  .login-box {
    border: 1px solid #d8dee3;
    border-radius: 5px;
    abbr {
      display: none;
    }
    .flash-messages {
      margin-bottom: 8px;
    }
    .form-control {
      font-size: 14px;
    }
    .inline-links {
      text-align: right;
      color: #ddd;
      margin: 30px 0 7px;
      a {
        padding: 0 10px;
        & + a { margin: 0; }
      }
    }
  }

  .section-heading {
    text-align: center;
    > h2 {
      display: inline-block;
      color: #74858E;
      font-size: 24px;
      font-weight: bold;
      padding-bottom: 20px;
      margin-bottom: 2em;
      text-align: center;
      background: transparent image-url('hr-stripes.png') repeat-x center bottom;
    }
  }

  .tickers {
    font-size: 16px;

    table {
      .text-left {
        padding-left: 25px;
      }
    }
  }

  .feature-highlight {
    text-align: center;
    .iconic {
      display: inline-block;
      margin: 0 10px 10px 0;
      width: $iconic-size;
      height: $iconic-size;
      background-color: #3AA5E8;
      background-color: rgba(58, 165, 232, .75);
      border-radius: 50%;
      > i {
        color: #fff;
        color: rgba(255,255,255,.9);
        font-size: 36px;
        line-height: $iconic-size;
      }
    }
    .heading {
      font-size: 22px;
      margin-bottom: 10px;
      font-weight: bold;
      color: #333;
    }
    .cnt {
      color: #777;
      font-size: 15px;
      line-height: 1.8;
      margin-bottom: 0;
    }
  }

  .nav-pills {
    margin-bottom: 15px;
  }
  .nav-pills > li > a {
    color: #fff;
    font-size: 20px;
    text-align: center;
    height: 48px;
    background: $brand-success;
    border: 1px solid $brand-success;
    &:hover,
    &:focus,
    &.focus,
    &:active {
      background-color: darken($brand-success, 10%);
      border-color: darken($brand-success, 12%);
    }
  }
  .nav-pills > li + li {
    margin: 0;
  }
  .nav-pills > li.active > a,
  .nav-pills > li.active > a:hover,
  .nav-pills > li.active > a:focus {
    color: #333;
    background: none;
    border-color: #ddd;
    cursor: text;
  }
  
  .public-info {
    margin-bottom: 2em;
  }
  .public-data {
    color: #fff;
    text-align: center;
    background-color: #29404D;
    padding: 15px 0 40px;
    table {
      width: 100%;
      .num {
        display: block;
        font-size: 24px;
      }
      .currency {
        color: rgba(255,255,255,.5);
        font-size: 16px;
      }
    }
  }
  .small-text {
    font-size: 14px;
    text-align: right;
    margin: 0 20px 10px;
    color: rgba(255,255,255,.3);
    a {
      color: rgba(255,255,255,.5);
      &:hover {
        color: rgba(255,255,255,.8);
      }
    }
  }

  .weibo,
  .blog-posts {
    > h3 {
      margin-top: 0;
      color: #74858E;
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 30px;
      padding-bottom: 15px;
      border-bottom: 1px solid #F2F2F2;
      a {
        color: #74858E;
        &:hover {
          color: lighten(#74858E, 10%);
          text-decoration: none;
        }
      }
    }
  }
  
  .blog-post {
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #F2F2F2;
    &:last-child {
      border: none;
    }
    .post-thumb {
      float: left;
      width: 140px;
      img {
        max-width: 140px;
      }
    }
    .post-details {
      padding-left: 160px;
      h3 {
        font-size: 16px;
        font-weight: bold;
        margin-top: 0;
        a {
          color: #777;
          &:hover {
            color: #222;
            text-decoration: none;
          }
        }
      }
      p {
        color: #999;
        font-size: 15px;
        line-height: 1.6;
      }
    }
  }

  .weibo {
    > h3 { margin-bottom: 10px; }
    .weibo-list {
      padding: 0;
      list-style: none;
    }
    .item {
      font-size: 14px;
      margin-bottom: 10px;
      padding-bottom: 10px;
      border-bottom: 1px solid #F2F2F2;
      &:last-child {
        border: none;
      }
      time {
        display: block;
        font-size: 12px;
        font-weight: bold;
        text-align: right;
      }
      blockquote {
        color: #999;
        font-size: 12px;
        padding: 0 0 0 1em;
        margin: 0 0 10px;
        border-left: 3px solid #F2F8FB;
      }
    }
  }

}

// Centered timeline
.timeline-centered {
  
  position: relative;
  @include clearfix;
  
  
  &:before {
    content: '';
    position: absolute;
    display: block;
    width: 4px;
    background: #f5f5f6;
    left: 50%;
    top: $timeline-icon-size / 2;
    bottom: $timeline-icon-size / 2;
    margin-left: -4px;
  }
  
  .timeline-entry {
    $timeline-margin: 100px;

    position: relative;
    width: 50%;
    float: right;
    margin-bottom: 40px;
    clear: both;
    @include clearfix;
    
    &.begin {
      margin-bottom: 0;
    }
    
    &.left-aligned {
      float: left;
      
      .timeline-entry-inner {
        margin-left: 0;
        margin-right: -$timeline-icon-size/2 + 2;
        
        .timeline-time {
          left: auto;
          right: -$timeline-margin;
          text-align: left;
        }
        
        .timeline-icon {
          float: right;
        }
        
        .timeline-label {
          margin-left: 0;
          margin-right: 70px;
          
          &:after {
            left: auto;
            right: 0;
            margin-left: 0;
            margin-right: -9px;
            @include rotate(180deg);
          }
        }
      }
    }
    
    .timeline-entry-inner {
      position: relative;
      margin-left: -$timeline-icon-size/2 - 2;
      @include clearfix;
      
      .timeline-time {
        
        position: absolute;
        left: -$timeline-margin;
        text-align: right;
        padding: 10px;
        
        > span {
          display: block;
          
          &:first-child {
            font-size: 15px;
            font-weight: bold;
          }
          
          &:last-child {
            font-size: 12px;
          }
        }
      }
      
      .timeline-icon {
        background: #EE4749;
        color: #fff;
        display: block;
        border-radius: $timeline-icon-size/2;
        text-align: center;
        @include box-shadow(0px 0px 0px 5px #f5f5f6);
        line-height: $timeline-icon-size;
        font-size: 20px;
        float: left;
        height: 40px;
        width: 40px;
      }
      
      .timeline-label {
        position: relative;
        background: #f5f5f6;
        padding: 20px;
        margin-left: 70px;
        border-radius: 3px;
        
        &:after {
          content: '';
          display: block;
          position: absolute;
          width: 0px;
          height: 0px;
          border-style: solid;
          border-width: 9px 9px 9px 0;
          border-color: transparent #f5f5f6 transparent transparent;
          left: 0;
          top: 10px;
          margin-left: -9px;

        }
      
        h2, p {
          color: #999;
          font-size: 20px;
          margin: 0;
          line-height: 1.6;
        }
        
        p + p {
          margin-top: $base-margin / 2;
        }
        
        h2 {
          font-size: 18px;
          margin-bottom: 30px;
          
          a {
            color: #333;
          }
          
          span {
            opacity: .6;
          }
        }
      }
    }
  }
}
