#welcome-index {
  
  .account-balance {
    display: none;
  }

  .masthead {
    background-image: image-url('hero-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
  }

  .masthead {
    margin-top: -70px;
    padding: 120px 0 0;
    color: #fff;
    .slogan {
      margin: -20px 0 0 80px;
      .brand {
        margin-bottom: 30px;
      }
      h1 {
        font-size: 30px;
        font-weight: bold;
      }
      p {
        color: rgba(255,255,255,.8);
        font-size: 20px;
      }
    }
    .users-form-container {
      padding: 30px;
      border-radius: 5px;
      background-color: #8bbbd4;
      background-color: rgba(255,255,255,.5);
      label {
        display: none;
      }
      .form-group {
        margin-bottom: 20px;
        input {
          height: 40px;
        }
      }
      .inline-links {
        text-align: center;
        color: #318BD5;
        a {
          color: #318BD5;
          padding: 0 5px;
        }
      }
    }

    .highlights {
      color: #333;
      padding: 30px 0;
      background-color: #fff;
      background-color: rgba(255,255,255,.5);
    }

  }

  .announcement {
    text-align: center;
    background-color: #F2F8FB;
    p {
      font-size: 20px;
      padding: 40px 0;
    }
    .more-info {
      font-size: 16px;
    }
  }

  .testimonials {
    margin-bottom: 40px;
    .left-col {
      padding-right: 15px;
    }
    .right-col {
      padding-left: 15px;
    }
    .speech-item {
      margin-bottom: 30px;
      .speech-bubble {
        background: #F2F8FB;
        border-radius: 3px;
        text-align: left;
        position: relative;
        padding: 25px 30px;
        margin: 0 0 20px 0;
        blockquote {
          font-size: 16px;
          line-height: 1.8;
          border: none;
          margin: 0 0 20px;
          padding: 0;
        }
        .arrow {
          content: "";
          position: absolute;
          display: block;
          left: 0;
          bottom: -1.285em;
          height: 0;
          width: 0;
          border: 0.857em solid rgba(0, 0, 0, 0);
          border-left-color: #F2F8FB;
          border-top-color: #F2F8FB;
        }
      }
      .author {
        @include clearfix;
        img { 
          border-radius: 50%;
          max-height: 40px;
          float: left;
        }
        .author-info {
          font-size: 14px;
          float: left;
          margin-left: 10px;
          .name {
            font-size: 14px;
            font-weight: bold;
            margin: 0 0 5px;
          }
        }
      }
    }
  }

  .main-section {
    padding: 15px 0;
    background: #fff;
  }

  #site-title {
    h1 {
      color: #3e4c5a;
      font-weight: 900;
      padding-top: 30px;
      font-size: 40px;
    }
  }

  #homepage-carousel {
    text-align: center;
    min-height: 331px;
    border: 1px solid #d8dee3;
    border-radius: 5px;
    background-color: #f0f0f0;
    img {
      max-height: 100%;  
      max-width: 100%;
    }
    .carousel-indicators {
      left: auto;
      right: 20px;
      margin: 0;
      width: auto;
      li {
        width: 12px;
        height: 12px;
        border: none;
        margin: 1px 3px;
        background-color: #fff;
      }
      .active {
        background-color: #09c;
      }
    }
  }

  .login-box {
    border: 1px solid #d8dee3;
    border-radius: 5px;
    abbr {
      display: none;
    }
    .flash-messages {
      margin-bottom: 8px;
    }
    .form-control {
      font-size: 14px;
    }
    .inline-links {
      text-align: right;
      color: #ddd;
      margin: 30px 0 7px;
      a {
        padding: 0 10px;
        & + a { margin: 0; }
      }
    }
  }

  .section-heading {
    text-align: center;
    > h2 {
      display: inline-block;
      color: #74858E;
      font-size: 24px;
      font-weight: bold;
      padding-bottom: 20px;
      margin-bottom: 2em;
      text-align: center;
      background: transparent image-url('hr-stripes.png') repeat-x center bottom;
    }
  }

  .tickers {
    font-size: 16px;

    table {
      .text-left {
        padding-left: 25px;
      }
    }
  }

  .feature-highlight {
    text-align: center;
    .iconic {
      display: inline-block;
      margin-bottom: 14px;
      width: 80px;
      height: 80px;
      border: 1px solid #333;
      border-radius: 50%;
      .sprite-lightbulb {
        margin-top: 16px;
      }
      .sprite-magnifier {
        margin-top: 18px;
      }
      .sprite-phone {
        margin-top: 18px;
      }
      .sprite-money {
        margin-top: 22px;
      }
    }
    .heading {
      font-size: 22px;
      margin-bottom: 10px;
      font-weight: normal;
      color: #666;
      font-weight: bolder;
    }
    .cnt {
      color: #777;
      font-size: 14px;
      line-height: 1.8;
    }
  }

  .nav-pills {
    margin-bottom: 15px;
  }
  .nav-pills > li > a {
    color: #fff;
    font-size: 20px;
    text-align: center;
    height: 48px;
    background: $brand-success;
    border: 1px solid $brand-success;
    &:hover,
    &:focus,
    &.focus,
    &:active {
      background-color: darken($brand-success, 10%);
      border-color: darken($brand-success, 12%);
    }
  }
  .nav-pills > li + li {
    margin: 0;
  }
  .nav-pills > li.active > a,
  .nav-pills > li.active > a:hover,
  .nav-pills > li.active > a:focus {
    color: #333;
    background: none;
    border-color: #ddd;
    cursor: text;
  }

}

