- id: btccny
  code: 3
  #name: BTC/CNY      # default name
  base_unit: btc
  quote_unit: cny
  bid: {fee: 0, currency: cny, fixed: 2}
  ask: {fee: 0, currency: btc, fixed: 4}
  sort_order: 1
  #visible: false     # default to true
- id: ltccny
  code: 4
  base_unit: ltc
  quote_unit: cny
  sort_order: 1
  bid: {fee: 0, currency: cny, fixed: 2}
  ask: {fee: 0, currency: ltc, fixed: 4}
- id: ptscny
  code: 5
  base_unit: pts
  quote_unit: cny
  bid: {fee: 0, currency: cny, fixed: 2}
  ask: {fee: 0, currency: pts, fixed: 4}
- id: ptsbtc
  code: 6
  base_unit: pts
  quote_unit: btc
  bid: {fee: 0, currency: btc, fixed: 4}
  ask: {fee: 0, currency: pts, fixed: 4}
  visible: false
- id: dogecny
  code: 9
  base_unit: doge
  quote_unit: cny
  bid: {fee: 0, currency: cny, fixed: 6}
  ask: {fee: 0, currency: dog, fixed: 0}
- id: dogbtc
  code: 10
  base_unit: dog
  quote_unit: btc
  bid: {fee: 0, currency: btc, fixed: 8}
  ask: {fee: 0, currency: dog, fixed: 0}
- id: btsxcny
  name: BTS/CNY
  code: 20
  base_unit: btsx
  quote_unit: cny
  bid: {fee: 0, currency: cny, fixed: 6}
  ask: {fee: 0, currency: btsx, fixed: 5}
- id: dnscny
  code: 25
  base_unit: dns
  quote_unit: cny
  bid: {fee: 0, currency: cny, fixed: 4}
  ask: {fee: 0, currency: dns, fixed: 2}
  visible: false
- id: bitcnycny
  code: 27
  base_unit: bitcny
  quote_unit: cny
  bid: {fee: 0, currency: cny, fixed: 4}
  ask: {fee: 0, currency: bitcny, fixed: 3}
