<img ng-src="{{account.accountAvatar()}}" width="80" class="pull-right">

<div class="input-group col-sm-18">
  <div class="input-group-addon">
    <span>{{"funds.deposit_coin.address" | t}}</span></div><div class="form-control form-control-static" id="deposit_address">{{account.deposit_address}}</div><div class="input-group-addon" id="deposit_address_data">
      <i class="fa fa-copy" data-clipboard-text="{{account.deposit_address}}"></i>
   </div>
</div>

</br>

<div class="input-group col-sm-18">
  <div class="input-group-addon">
    <span style="color: red;">Memo</span></div><div class="form-control form-control-static" id="memo">{{user.memo}}</div><div class="input-group-addon">
      <i class="fa fa-copy" data-clipboard-text="{{user.memo}}"></i>
   </div>
</div>


