<ng-include src="'/templates/funds/_flash.html'"></ng-include>
<ng-include ng-if="currency == 'cny'" src="'/templates/funds/deposit_cny.html'"></ng-include>
<ng-include ng-if="currency == 'btc'" src="'/templates/funds/deposit_btc.html'"></ng-include>
<ng-include ng-if="currency == 'pts'" src="'/templates/funds/deposit_pts.html'"></ng-include>
<ng-include ng-if="currency == 'doge'" src="'/templates/funds/deposit_doge.html'"></ng-include>
<ng-include ng-if="currency == 'ltc'" src="'/templates/funds/deposit_ltc.html'"></ng-include>
<ng-include ng-if="currency == 'btsx'" src="'/templates/funds/deposit_btsx.html'"></ng-include>
<ng-include ng-if="currency == 'yun'" src="'/templates/funds/deposit_yun.html'"></ng-include>
<ng-include ng-if="currency == 'bitcny'" src="'/templates/funds/deposit_bitcny.html'"></ng-include>
